.example-container {
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    overflow-wrap: break-word;
}

.tableSearch-input {
    width: 100%;
}

.table-cell-align-right {
    text-align: end;
}