   
  <div *ngIf="worktimeEdit && (worktimeEdit.selectedWorkTime == null || worktimeEdit.showWorkingTimeTable)">
    <div style="text-align: center;">
      <mat-form-field>
        <input matInput [matDatepicker]="pickerFrom" placeholder="Choose start date" [(ngModel)]="selectedDateFrom">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

    <span> - </span>
      <mat-form-field>
      
        <input matInput [matDatepicker]="pickerTo" placeholder="Choose end date" [(ngModel)]="selectedDateTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>

        <button mat-mini-fab color="primary" (click)="initWorkTimes()" style="position: absolute; right: -85px; top: -6px">  
          <mat-icon class="mat-icon-rtl-mirror">refresh</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-form-field class="tableSearch-input">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef style="width: 8em;">Date </th>
          <td mat-cell *matCellDef="let record"> {{record.date | date:'dd.MM.yyyy'}} </td>

          <td mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
        </ng-container>
    
        <ng-container matColumnDef="title" >
          <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Title </th>
          <td mat-cell *matCellDef="let record" style="width: 20%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"> {{record.title}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="description" >
          <th mat-header-cell *matHeaderCellDef style="width: 50%;"> Description </th>
          <td mat-cell *matCellDef="let record" style="width: 50%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            {{record.description}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <ng-container matColumnDef="tags" >
          <th mat-header-cell *matHeaderCellDef style="width: 30%">Tags </th>
          <td mat-cell *matCellDef="let record" style="width: 30%">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngFor="let tag of record.tags">#{{ tag.label }}</mat-chip>
            </mat-chip-list>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="timeWorked" >
            <th mat-header-cell *matHeaderCellDef style="width: 8em;text-align: center;"> Time worked <br><i>HH:mm:ss</i></th>
            <td mat-cell *matCellDef="let record" style="width: 8em;text-align: center;"> {{ record.timeWorkedInClockFormat() }} </td>
            <td mat-footer-cell *matFooterCellDef style="width: 8em;text-align: center;"> <b>{{ totalTime }}</b> </td>
        </ng-container>
        
        <ng-container matColumnDef="buttons" >
            <th mat-header-cell *matHeaderCellDef style="width: 6em;text-align: center;">  
              <button mat-mini-fab color="primary" (click)="createWorkTime()">   
                <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
              </button>
            </th>
            <td mat-cell class="table-cell-align-right" *matCellDef="let record" style="width: 10%;text-align: center;">
                <button mat-button (click)="selectWorkTime(record)">
                    <mat-icon class="mat-icon-rtl-mirror" color="primary">play_arrow</mat-icon>
                </button>
            </td>

            <td mat-footer-cell *matFooterCellDef style="width: 10%;text-align: center;"></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true">
        </tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

        <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()"></tr>
      </table>

    </div>
    <br>
  </div>

  <app-work-time-edit #editWorkTimeComponent></app-work-time-edit>
  <br>