/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-error > simple-snack-bar > div > button > span {
    color: crimson;
}

.snackbar-success > simple-snack-bar > div > button > span {
    color: limegreen;
}

.snackbar-info > simple-snack-bar > div > button > span {
    color: white;
}
