<div class="edit-work-container" *ngIf="selectedWorkTime">


    <div>
        <button mat-mini-fab (click)="showHideWorkingTimeTable()" color="primary" style="position: absolute; top: 10px; right: 5%;">  
        <mat-icon class="mat-icon-rtl-mirror">view_list</mat-icon>
      </button>
    </div>

    <div style="text-align: center;" *ngIf="!showEditWorkingTime">
        
        <!-- Hours -->
        {{ selectedWorkTime.timeWorkedInClockFormat() }}
        <button mat-button (click)="showEditWorkingTimeControls()">
            <mat-icon color="primary" matSuffix >mode_edit</mat-icon>
        </button>
    </div>

    <div *ngIf="showEditWorkingTime" >
        <table class="example-full-width" cellspacing="0" style="width: auto;margin: auto;"><tr>
            <td>
                <mat-form-field class="example-full-width" style="width: 5em;">
                    <input type="number" matInput placeholder="Hours" [(ngModel)]="timeWorkedInHoursOnly">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" style="width: 5em;">
                    <input type="number" matInput placeholder="Minutes" [(ngModel)]="timeWorkedInMinutesOnly">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" style="width: 5em;">
                    <input type="number" matInput placeholder="Seconds" [(ngModel)]="timeWorkedInSecondsOnly">
                </mat-form-field></td>
                <td>
                    <button mat-button (click)="saveWithChangedWorkingTime()" style="top: -6px;">
                        <mat-icon color="primary" matSuffix >check</mat-icon>
                    </button>

                    <button mat-button (click)="hideChangedWorkingTime()" style="top: -6px;">
                        <mat-icon color="primary" matSuffix >cancel</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <mat-form-field>
        <input matInput required [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedWorkTime.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      
    <mat-form-field>
        <input required matInput placeholder="Title" [(ngModel)]="selectedWorkTime.title">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput rows="5" placeholder="Leave a comment" [(ngModel)]="selectedWorkTime.description"></textarea>
    </mat-form-field>

    <!--<mat-form-field class="example-chip-list" *ngIf="selectedWorkTime.id">-->

        <app-tag-input #workTimeEditComponent></app-tag-input>
        
        <!--

        <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip
            *ngFor="let tag of this.selectedWorkTime.tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeTag(tag)">
            {{tag.label}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
            placeholder="New tag..."
            #tagInput
            [formControl]="tagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag.label}}
            </mat-option>
        </mat-autocomplete>
        
    </mat-form-field>-->

    <div style="text-align: center;">

        <button mat-button (click)="saveWorkTime()" [disabled]="(!selectedWorkTime.title) || (!selectedWorkTime.date)">
            <mat-icon color="{{((!selectedWorkTime.title) || (!selectedWorkTime.date)) ? 'grey' : 'primary' }}">save</mat-icon>
        </button>

        <button mat-button (click)="deleteWorkTime()" *ngIf="selectedWorkTime.id">
            <mat-icon color="primary">delete</mat-icon >
        </button>

        <button mat-button (click)="cancelWorkTime()">
            <mat-icon color="primary">cancel</mat-icon>
        </button>
    </div>
</div>