#appContent {
    height: 100vh;
    width: 98vw;
}

#footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

#content {
    margin: 2em 5% 0 5%;
    padding-bottom: 10%;
}

#login {
    margin: 2em 5% 0 5%;
    padding-bottom: 10%;
}