<div id="appView">

  <div id="header">
    <mat-toolbar style="justify-content: center;">
      <span>Working Time Tracker</span>
    </mat-toolbar>
  </div>

  <div id="login" *ngIf="!isUserLoggedIn()">
    <app-login></app-login>
  </div>

  <div id="content" *ngIf="isUserLoggedIn()">

    <app-work-time-list></app-work-time-list>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/361353561&color=%23673ab7&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  </div>

  <div id="footer">
    <app-loader></app-loader>

    <mat-toolbar style="justify-content: flex-end; padding: 0 5% 0 5%;">

      <a href="https://note.new" target="_blank" title="new note">
        <img height="36em" class="img-responsive" src="assets/icons/google-note.png">
      </a>
      <a href="https://document.new" target="_blank" title="new document">    
        <img height="36em" class="img-responsive" src="assets/icons/google-doc.png">
      </a>
      <a href="https://sheet.new" target="_blank" title="new spredsheet">
        <img height="36em" class="img-responsive" src="assets/icons/google-sheet.png">
      </a>

      <button mat-button [matMenuTriggerFor]="menu" title="more tools">
        <mat-icon color="primary">more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu"> 
        <a href="https://presentation.new" target="_blank" title="new presentation">
          <img height="36em" class="img-responsive" src="assets/icons/google-presentation.png">
        </a>   
        <a href="https://gmail.com" target="_blank" title="GMail">    
          <img height="36em" class="img-responsive" src="assets/icons/google-mail.png">
        </a>
        <a href="https://drive.google.com" target="_blank" title="Google Drive">
          <img height="36em" class="img-responsive" src="assets/icons/google-drive.png">
        </a>
        <a href="https://app.genmymodel.com/personal/projects" target="_blank" title="UML modeling">
          <img height="38em" class="img-responsive" src="assets/icons/uml.png">
        </a>   
        <a href="https://bitbucket.org/snippets/roymanigley/" target="_blank" title="code snippets">
          <img height="38em" class="img-responsive" src="assets/icons/snippets.png">
        </a>        
        <a href="https://www.better-converter.com/" target="_blank" title="better converter">
          <img height="38em" class="img-responsive" src="assets/icons/encoder.png">
        </a>
        <a href="https://repl.it/languages/java" target="_blank" title="repl.it → Java">
          <img height="38em" class="img-responsive" src="assets/icons/java.png">
        </a>
      </mat-menu>

      <button mat-mini-fab color="primary" (click)="logout()" style="top: -3px;" *ngIf="isUserLoggedIn()">  
        <mat-icon class="mat-icon-rtl-mirror">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  
</div>

<router-outlet></router-outlet>
