<div class="login-container">

    <mat-form-field>
        <input required matInput placeholder="Username" [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field>
        <input type="password" required matInput placeholder="Password" [(ngModel)]="password">
    </mat-form-field>

    <div style="text-align: center;">

        <button mat-mini-fab color="primary" (click)="login()" [disabled]="!password || !username">  
            <mat-icon class="mat-icon-rtl-mirror">perm_identity</mat-icon>
        </button>
    </div>
</div>