<mat-form-field class="example-chip-list" *ngIf="workTimeEditComponent.selectedWorkTime.id" style="width: 100%;">
        <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
        *ngFor="let tag of workTimeEditComponent.selectedWorkTime.tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeTag(tag)">
        {{tag.label}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
        placeholder="New tag..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag.label}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>