<h1 mat-dialog-title>Delete: {{data.title}}</h1>
<div mat-dialog-content>
  <p>Do you realy want to delete this Record ?</p>
</div>
<div mat-dialog-actions style="display: block; text-align: center;">
  <button mat-button (click)="onNoClick()">
    <mat-icon color="primary">cancel</mat-icon>
  </button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>
    <mat-icon color="primary">check</mat-icon>
  </button>
</div>
